@import "Menu/Categories/categories";
@import "Menu/Categories/childrenCategories";
@import "Menu/Categories/products";
@import "Menu/Categories/singleProduct";

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  //zoom: 90%;

  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


ul {
  list-style-type: none;
}

.button_back {
  transition: 0.2s ease-in-out;
  height: 40px;
  aspect-ratio: 7/2;
  margin-left: 20px;
  background-color: #2c3034;
  padding: 5px;
  color: white;
  font-size: 16px;
  font-weight: 380;
  border-radius: 10px;

}

  



 