
.single_product_view {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;

  .info {
    margin: 10px;
    transition: 0.2s ease;
    width: 50%;
    flex-grow: 2;
    //flex-shrink: 4;


    //margin-left: 40px;

    //background-color: grey;


    .info_and_photos {

      display: inline-flex;
      margin-left: 40px;

      .main_picture {
        animation-name: uprise;
        animation-duration: 0.4s;
        animation-timing-function: ease;
        height: 200px;
        border-radius: 7px;
        box-shadow: 0 0 40px rgba(19, 25, 29, 0.4);
        
      }


      .name_and_description {
        
        margin-right: 10px;

        .name {
          
          width: 40%;

          font-weight: 350;
          font-size: 25px;
          margin: 10px;
          margin-left: 20px;
        }

        .description_single_product {
          font-weight: 350;
          font-size: 14px;
          padding-left: 20px;
          width: 100%;
          max-height: 100px;
          overflow: hidden;
        }
      }


    }

    .photos_list {

      margin-top: 40px;
      //margin-left: 80px;
      border-radius: 10px;
      border-bottom-right-radius: 10% 10%;
      border-bottom-left-radius: 10% 10%;


      padding-left: 0;
      display: flex;
      overflow-x: scroll;
      width: 95%;
      margin-left: 10px;
      flex-wrap: nowrap;
      height: 20vmin;
      //box-shadow: 3px -40px 20px rgba(0, 0, 0, 0.35);


      li {
        animation-name: uprise;
        animation-duration: 0.4s;
        animation-timing-function: ease;
        //height: 100%;
        padding-right: 10px;
        margin: 0;
        flex-shrink: 0;


        .picture {

          height: 100%;
          border-radius: 10px;
          padding-bottom: 4px;
          object-fit: contain;

        }
      }

      li:hover {
        .picture {

        }
      }
    }

  }


  .similar_products_label {
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 450;
    margin-bottom: 5px;
  }

  .similar_products {
    

    margin-left: 40px;
    //border: 1px solid black;
    border-radius: 10px;
    flex-grow: 2;


    padding-left: 0;
    //padding: 5px;
    //max-width: 700px;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .similar_product_card {
      animation-name: uprise;
      animation-duration: 0.4s;
      animation-timing-function: ease;
      cursor: pointer;

      margin-bottom: 10px;
      margin-right: 20px;
      width: 400px;

      border-radius: 10px;
      box-shadow: 7px -2px 30px rgba(0, 0, 0, 0.25);

      position: relative;
      height: 90px;
      display: flex;
      padding: 5px;

      .similar_product_picture {
        object-fit: contain;
        border-radius: 10px;

      }

      .similar_product_name {
        padding-left: 6px;
        font-size: 18px;
        font-weight: 350;
      }

      .similar_product_price {
        padding-right: 10px;
        font-size: 16px;
        font-weight: 350;
        position: absolute;
        right: 0;
        bottom: 50%;
      }

    }
  }

  .single_product_sellers {
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset 16px 16px 32px #bebebe,
    inset -16px -16px 32px #ffffff;

    margin: 10px;
    flex-shrink: 2;
    right: 0;
    //width: 400px;
    min-width: 390px;

    .seller {
      
      animation-name: uprise;
      animation-duration: 0.4s;
      animation-timing-function: ease;
      cursor: pointer;


      transition: 0.15s ease;
      padding: 10px;
      border-radius: 10px;
      margin: 10px;
      //background:  hsla(40, 94%, 74%, 1);
      background: linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
    }

    .seller.discount {
      box-shadow: inset 0px 0px 10px #bebebe,
      inset 0px 0px 7px #ffffff;
      transition: 0.15s;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 130% 130%;
      animation: gradient 10s ease infinite, uprise 0.4s ease !important;
    }

    .seller.discount::before {
      right: 0;
      content: "sale";
      position: absolute;
      transform: rotate(35deg) translateX(-55%);
      font-size: 25px;
      font-weight: 350;
      //color: hsla(192, 80%, 51%, 1);
      color: #828282;
      mix-blend-mode: darken;

    }

    .seller:hover {
      box-shadow: 0 0 10px rgba(19, 25, 29, 0.4);
    }

    .seller.discount:hover {
      box-shadow: inset 0px 0px 0px #dedede,
      inset 0 0 0 #e2e2e2;
      background-size: 120% 120%;

    }
  }


}

//.photos_list::-webkit-scrollbar {
//  height: 15px;
//}

.photos_list::-webkit-scrollbar {
  height: 5px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #767676;

}

.photos_list::-webkit-scrollbar-thumb:active {
  height: 10px !important;
  width: 10px !important;
}

@media only screen and (max-width: 858px) {
  .single_product_view {
    .info {
      margin: 0;


      .info_and_photos {
        margin-left: 10px;

        .name_and_description {
          .name {

          }

          .description_single_product {

          }
        }
      }

      .photos_list {

        li {
          .picture {

          }
        }
      }
    }

    .single_product_sellers {
      margin: 5px;
      width: 100%;
    }

    .similar_products_label {
      margin-left: 20px;
    }

    .similar_products {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 


