
.container_categories {
  list-style-type: none;
  //width: 100%;
  padding: 0;
  height: fit-content;
  display: compact;
  position: relative;
  //right: 20px;
  //background-color: rgb(67, 67, 67);
}

.category {
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;


  transition: 0.25s;
  height: 50px;
  width: 29vmin;

  cursor: pointer;

  color: black;
  overflow: hidden;

  .category_title {
    justify-content: center;
    font-weight: 350;
    font-size: 17px;

  }
}


.category:first-child {
  //border-top-right-radius: 10px;
  //border-top-left-radius: 5px;
}

.category:last-child {
  //border-bottom-right-radius: 10px;
  //border-bottom-left-radius: 10px;
}

.category:first-child:hover {
  //border-top-left-radius: 10px;
}

.category:last-child:hover {
  //border-bottom-left-radius: 10px;
}

.category:hover {
  transition: 0.3s;
  background-color: rgba(21, 21, 21, 0.2);
  box-shadow: -11px 0 rgb(19, 25, 29) !important;
  //box-shadow: -15px 0 rgb(random(255), random(255), random(255));
  color: black;
  transform: translateX(10px);
  backdrop-filter: blur(10px);

  .category_title {
    font-weight: 370;
  }

}

.Categories {
  display: grid;
  grid-template-columns: 30vmin auto;
  //grid-template-rows: minmax(50px, auto) 1fr;
}

.category.selected {
  transition: 0.3s;
  background-color: rgba(21, 21, 21, 0.2);
  box-shadow: 0 0 transparent;
  color: black;
  width: 100%;

}

@media (max-width: 1000px) {
  .container_categories {
    //display: block;
  }
  li {
    display: block;
  }
  li:active + .container_categories {
    display: none;
  }

  .category {
    width: 100%;
  }
  .Categories {
    display: grid;
    grid-template-columns: 1fr;
    //grid-template-rows: minmax(50px, auto) 1fr;
  }
}
