
.product_view {
  display: grid;
  grid-template-columns: 170px auto;
  margin-right: 3%;

  .filter_menu {
    width: 100%;
    font-weight: 350;
    padding-top: 10px;
    align-items: center;

    .filter_title {
      font-size: 15px;
    }

    .sub-section {
      transition: 0.4s ease;
      position: relative;
      padding: 10px;
      width: 100%;
      display: flex;
      border-radius: 10px;
      overflow: hidden;
      border-bottom: 1px solid #e6e6e6;
      border-top: 1px solid #e6e6e6;

      ul {
        padding: 0;
        margin: 0;
      }

      .checkbox-centered {
        text-align: center;
      }

      .filter_sub_title {
        text-align: center;
        width: 100%;
        padding: 2px;
        border-radius: 2px;
        font-weight: 550;
        font-size: 15px;
      }

      .price_range {
        text-align: start;
        display: inline-flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .priceMinMax {
          font-weight: 150;
          border-radius: 7px;
          border-width: 1px;
          width: 100px;
        }

        .button_for_price {
          //aspect-ratio: 1/1;
          margin-top: 30px;
          margin-left: 10px;
          font-weight: 150;
          font-size: 15px;
          width: 50px;
          height: 50px;
          border-radius: 10px;
          border-width: 1px;

        }
      }
    }
  }

  div .filter_menu {
    .sub-section {
      margin-bottom: 0;
    }
  }

  .filter_menu > .sub-section {
    display: block;
    margin: 15px 14px;
  }

  .sub-section > * {
    margin-bottom: 3px;
  }

  .products {
    margin-left: 12px;
    width: 100%;

    .product-element {
      animation-name: uprise;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;

      position: relative;
      height: 25vmin;
      width: 100%;
      display: flex;
      //flex-wrap: wrap;
      //margin: 15px;
      //padding: 1px;
      margin-bottom: 30px;
      margin-left: 15px;
      border-radius: 5px;

      cursor: pointer;
      overflow: hidden;
      transition: 0.2s;

      //border: 1px solid black;


      //justify-content: flex-start;
      //align-items: flex-start;
      //align-content: flex-start;


      .picture {
        border-radius: 5px;
        object-fit: contain;
        height: 100%;
        transition: 0.2s;
      }

      .name_and_description {
        width: 60%;

        .name {
          font-size: 25px;
          height: 10px;
          letter-spacing: 0.3px;
          font-weight: 250;
          transition: 0.2s;
          padding-left: 10px;
          padding-top: 5px;
          color: #151515;
        }
      }

      .description {
        padding-left: 10px;
        padding-top: 5px;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3em;
        line-height: 1.2em;
        text-align: justify;
      }

      .description::after {
        content: "...";
        right: -12px;
        bottom: 4px;
      }


      .price {
        position: absolute;
        right: 15px;
        bottom: 50%;

        font-size: 19px;

        font-weight: 150;
        color: #222;
        letter-spacing: 1px;
        //text-transform: uppercase;
        transition: 0.5s;


      }

    }
  }
}

//TODO-HOVERING

.product-element:hover {
  transition: 0.3s !important;
  //background-size: 350% 100% !important;

  //background-color: rgba(19, 25, 29, 0.05);


  //box-shadow: 0 0 5px rgba(19, 25, 29, 0.4);

  .price {
    transition: 0.2s;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 40%, #000 10%, rgba(0, 0, 0, .6) 80%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    animation-timing-function: linear;
  }

  .picture {
    transition: 0.3s !important;

    //box-shadow: 2px 0 15px rgba(19, 25, 29, 0.29);

  }
}

.sub-section:hover {
  transition: 0.4s ease;
  //background-size: 200% 150% !important;

  //.hover_gradient{
  //  background-size: 100% 100% !important;
  //}

}


@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

@keyframes uprise {
  0% {
    opacity: 0.0;
  }


  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .description {
    display: none;
  }
  .filter_menu {
    display: none;
  }
  .product_view {
    display: flex;

    //grid-template-columns: auto;
    width: 95%;
  }
  .product-element {
    margin-left: 0 !important;

    .price {
      font-size: 13px !important;
      font-weight: 350 !important;
      color: black !important;
      //letter-spacing: 1px;
    }

    .name {
      font-size: 17px !important;
      font-weight: 350 !important;
    }

  }


}